.logo {
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 180px;
}

.inner_logo.logo {
    left: 40px;
    top: 40px;
    -ms-transform: translate(0%, 0%);
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
}

.logo_rectangle {
    background-color: transparent;
    display: inline-block;
}

.inner_logo .logo_rectangle {
    width: 5px;
    height: 0px;
    background-color: #EDED43;
    -webkit-animation: Inner_Logo .5s forwards .9s;
    -moz-animation: Inner_Logo .5s forwards .9s;
    -o-animation: Inner_Logo .5s forwards .9s;
    animation: Inner_Logo .5s forwards .9s;
}

@-webkit-keyframes Inner_Logo {
    0% {
        height: 5px;
    }
    100% {
        height: 70px;
    }
}

@-moz-keyframes Inner_Logo {
    0% {
        height: 5px;
    }
    100% {
        height: 70px;
    }
}

@-o-keyframes Inner_Logo {
    0% {
        height: 5px;
    }
    100% {
        height: 70px;
    }
}

@keyframes Inner_Logo {
    0% {
        height: 5px;
    }
    100% {
        height: 70px;
    }
}

.main_page .loaded .logo_rectangle {
    position: relative;
    height: 180px;
    width: 180px;
}

.fadeout .logo_rectangle {
    position: relative;
    height: 180px;
    width: 180px;
}

.fadeout.inner_logo .logo_rectangle {
    position: relative;
    height: 70px;
    width: 5px;
}

.main_page .loaded .logo_rectangle:after {
    content: '';
    position: absolute;
    right: 100%;
    top: 0px;
    height: 0px;
    width: 0px;
    background-color: #EDED43;
    -webkit-animation: rectangle_show .5s forwards, rectangle_move_right .5s forwards .6s,rectangle_move_height .5s forwards 1.1s, rectangle_move_width .5s forwards 1.6s;
    -moz-animation: rectangle_show .5s forwards, rectangle_move_right .5s forwards .6s,rectangle_move_height .5s forwards 1.1s, rectangle_move_width .5s forwards 1.6s;
    -o-animation: rectangle_show .5s forwards, rectangle_move_right .5s forwards .6s,rectangle_move_height .5s forwards 1.1s, rectangle_move_width .5s forwards 1.6s;
    animation: rectangle_show .5s forwards, rectangle_move_right .5s forwards .6s,rectangle_move_height .5s forwards 1.1s, rectangle_move_width .5s forwards 1.6s;
    transition: all .5s;
    z-index: 99;
}

.fadeout .logo_rectangle:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0px;
    height: 180px;
    width: 180px;
    background-color: #EDED43;
    z-index: 99;
}

.fadeout.inner_logo .logo_rectangle:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0px;
    height: 70px;
    width: 5px;
    background-color: #EDED43;
    z-index: 99;
}

@-webkit-keyframes rectangle_show {
    0% {
        right: 100%;
    }
    100% {
        height: 10px;
        width: 10px;
    }
}

@-moz-keyframes rectangle_show {
    0% {
        right: 100%;
    }
    100% {
        height: 10px;
        width: 10px;
    }
}

@-o-keyframes rectangle_show {
    0% {
        right: 100%;
    }
    100% {
        height: 10px;
        width: 10px;
    }
}

@keyframes rectangle_show {
    0% {
        right: 100%;
    }
    100% {
        height: 5px;
        width: 5px;
    }
}

@-webkit-keyframes rectangle_move_right {
    0% {
        right: 100%;
    }
    100% {
        right: 0px;
    }
}

@-moz-keyframes rectangle_move_right {
    0% {
        right: 100%;
    }
    100% {
        right: 0px;
    }
}

@-o-keyframes rectangle_move_right {
    0% {
        right: 100%;
    }
    100% {
        right: 0px;
    }
}

@keyframes rectangle_move_right {
    0% {
        right: 100%;
    }
    100% {
        right: 0px;
    }
}

@-webkit-keyframes rectangle_move_height {
    0% {
        height: 5px;
    }
    100% {
        height: 180px;
    }
}

@-moz-keyframes rectangle_move_height {
    0% {
        height: 5px;
    }
    100% {
        height: 180px;
    }
}

@-o-keyframes rectangle_move_height {
    0% {
        height: 5px;
    }
    100% {
        height: 180px;
    }
}

@keyframes rectangle_move_height {
    0% {
        height: 5px;
    }
    100% {
        height: 180px;
    }
}

@keyframes rectangle_move_width {
    0% {
        width: 5px;
    }
    100% {
        width: 180px;
    }
}

.fadeout .logo_rectangle:after {
    animation: Hide_logo .2s forwards .2s;
}

@-webkit-keyframes Hide_logo {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-moz-keyframes Hide_logo {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-o-keyframes Hide_logo {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes Hide_logo {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.logo_img {
    height: 100px;
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
    opacity: 0;
}

.inner_logo .logo_img {
    height: 70px;
    -webkit-animation: logo .3s forwards .5s;
    -moz-animation: logo .3s forwards .5s;
    -o-animation: logo .3s forwards .5s;
    animation: logo .3s forwards .5s;
}

.main_page .loaded .logo_img {
    -webkit-animation: logo .5s forwards 1.9s;
    -moz-animation: logo .5s forwards 1.9s;
    -o-animation: logo .5s forwards 1.9s;
    animation: logo .5s forwards 1.9s;
}

.logo_img.show_again {
    -webkit-animation: logo .5s forwards 2.3s!important;
    -moz-animation: logo .5s forwards 2.3s!important;
    -o-animation: logo .5s forwards 2.3s!important;
    animation: logo .5s forwards 2.3s!important;
}

@-webkit-keyframes logo {
    0% {
        opacity: 0;
        -webkit-transform: translate(-100%, 0%);
        -moz-transform: translate(-100%, 0%);
        -o-transform: translate(-100%, 0%);
        transform: translate(-100%, 0%);
    }
    50% {
        opacity: .3;
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0%, 0%);
        -moz-transform: translate(0%, 0%);
        -o-transform: translate(0%, 0%);
        transform: translate(0%, 0%);
    }
}

@-moz-keyframes logo {
    0% {
        opacity: 0;
        -webkit-transform: translate(-100%, 0%);
        -moz-transform: translate(-100%, 0%);
        -o-transform: translate(-100%, 0%);
        transform: translate(-100%, 0%);
    }
    50% {
        opacity: .3;
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0%, 0%);
        -moz-transform: translate(0%, 0%);
        -o-transform: translate(0%, 0%);
        transform: translate(0%, 0%);
    }
}

@-o-keyframes logo {
    0% {
        opacity: 0;
        -webkit-transform: translate(-100%, 0%);
        -moz-transform: translate(-100%, 0%);
        -o-transform: translate(-100%, 0%);
        transform: translate(-100%, 0%);
    }
    50% {
        opacity: .3;
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0%, 0%);
        -moz-transform: translate(0%, 0%);
        -o-transform: translate(0%, 0%);
        transform: translate(0%, 0%);
    }
}

@keyframes logo {
    0% {
        opacity: 0;
        -webkit-transform: translate(-100%, 0%);
        -moz-transform: translate(-100%, 0%);
        -o-transform: translate(-100%, 0%);
        transform: translate(-100%, 0%);
    }
    50% {
        opacity: .3;
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0%, 0%);
        -moz-transform: translate(0%, 0%);
        -o-transform: translate(0%, 0%);
        transform: translate(0%, 0%);
    }
}

.fadeout .logo_img {
    animation: fadeout_logo .3s forwards;
}

@-webkit-keyframes fadeout_logo {
    0% {
        opacity: 1;
        -webkit-transform: translate(0%, 0%);
        -moz-transform: translate(0%, 0%);
        -o-transform: translate(0%, 0%);
        transform: translate(0%, 0%);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(-100%, 0%);
        -moz-transform: translate(-100%, 0%);
        -o-transform: translate(-100%, 0%);
        transform: translate(-100%, 0%);
    }
}

@-moz-keyframes fadeout_logo {
    0% {
        opacity: 1;
        -webkit-transform: translate(0%, 0%);
        -moz-transform: translate(0%, 0%);
        -o-transform: translate(0%, 0%);
        transform: translate(0%, 0%);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(-100%, 0%);
        -moz-transform: translate(-100%, 0%);
        -o-transform: translate(-100%, 0%);
        transform: translate(-100%, 0%);
    }
}

@-o-keyframes fadeout_logo {
    0% {
        opacity: 1;
        -webkit-transform: translate(0%, 0%);
        -moz-transform: translate(0%, 0%);
        -o-transform: translate(0%, 0%);
        transform: translate(0%, 0%);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(-100%, 0%);
        -moz-transform: translate(-100%, 0%);
        -o-transform: translate(-100%, 0%);
        transform: translate(-100%, 0%);
    }
}

@keyframes fadeout_logo {
    0% {
        opacity: 1;
        -webkit-transform: translate(0%, 0%);
        -moz-transform: translate(0%, 0%);
        -o-transform: translate(0%, 0%);
        transform: translate(0%, 0%);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(-100%, 0%);
        -moz-transform: translate(-100%, 0%);
        -o-transform: translate(-100%, 0%);
        transform: translate(-100%, 0%);
    }
}