/****************************
*							*
*      Main Config 			*
*							*
****************************/

@font-face {
    font-family: 'IRANSANS';
    src: url('../fonts/IRANSansWeb.woff') format('woff'), url('../fonts/IRANSansWeb.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'IRANSANS BOLD';
    src: url('../fonts/IRANSansWeb_Bold.woff') format('woff'), url('../fonts/IRANSansWeb_Bold.ttf') format('truetype');
    font-style: normal;
}

html {
    height: 100%;
}

body {
    font-family: 'IRANSANS';
    margin: 0;
    padding: 0;
    position: relative;
    height: 100%;
    overflow: hidden;
    background: #fff;
}

.main {
    position: relative;
    margin: 35px;
    background: #fff;
    min-height: calc(100% - 70px);
    box-sizing: border-box;
    overflow: hidden;
}

.alert {
    position: absolute;
    left: 50%;
    top: 50%;
    color: #555;
    font-size: 16px;
    direction: rtl;
    text-align: center;
    -o-ms-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#Loader{
    position: fixed;
    left: 40%;
    top: 50%;
    -o-ms-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.line_top {
    position: fixed;
    left: 0;
    top: 0;
    width: 0;
    height: 35px;
    background-color: #f7f7f7;
}

.show_border .line_top {
    width: 100%;
    -webkit-transition: width .4s ease-out;
    -moz-transition: width .4s ease-out;
    -ms-transition: width .4s ease-out;
    -o-transition: width .4s ease-out;
    transition: width .4s ease-out;
    -webkit-transition-delay: .25s;
    -moz-transition-delay: .25s;
    -o-transition-delay: .25s;
    transition-delay: .25s;
}

.line_right {
    position: fixed;
    right: 0;
    top: 0;
    height: 0;
    width: 35px;
    background-color: #f7f7f7;
}

.show_border .line_right {
    height: 100%;
    -webkit-transition: height .4s ease-out;
    -moz-transition: height .4s ease-out;
    -ms-transition: height .4s ease-out;
    -o-transition: height .4s ease-out;
    transition: height .4s ease-out;
    -webkit-transition-delay: .7s;
    -moz-transition-delay: .7s;
    -o-transition-delay: .7s;
    transition-delay: .7s;
}

.line_bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 0;
    height: 35px;
    background-color: #f7f7f7;
}

.show_border .line_bottom {
    width: 100%;
    -webkit-transition: width .4s ease-out;
    -moz-transition: width .4s ease-out;
    -ms-transition: width .4s ease-out;
    -o-transition: width .4s ease-out;
    transition: width .4s ease-out;
    -webkit-transition-delay: .9s;
    -moz-transition-delay: .9s;
    -o-transition-delay: .9s;
    transition-delay: .9s;
}

.line_left {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 35px;
    height: 0;
    background-color: #f7f7f7;
}

.show_border .line_left {
    height: 100%;
    -webkit-transition: height .4s ease-out;
    -moz-transition: height .4s ease-out;
    -ms-transition: height .4s ease-out;
    -o-transition: height .4s ease-out;
    transition: height .4s ease-out;
    -webkit-transition-delay: 1.1s;
    -moz-transition-delay: 1.1s;
    -o-transition-delay: 1.1s;
    transition-delay: 1.1s;
}


/****************************
*							*
*      Logo Config 			*
*							*
****************************/

.logo {
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 180px;
}

.inner_logo.logo {
    left: 40px;
    top: 40px;
    -ms-transform: translate(0%, 0%);
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
}

.logo_rectangle {
    background-color: transparent;
    display: inline-block;
}

.inner_logo .logo_rectangle {
    width: 5px;
    height: 0px;
    background-color: #EDED43;
    -webkit-animation: Inner_Logo .5s forwards .9s;
    -moz-animation: Inner_Logo .5s forwards .9s;
    -o-animation: Inner_Logo .5s forwards .9s;
    animation: Inner_Logo .5s forwards .9s;
}

@-webkit-keyframes Inner_Logo {
    0% {
        height: 5px;
    }
    100% {
        height: 70px;
    }
}

@-moz-keyframes Inner_Logo {
    0% {
        height: 5px;
    }
    100% {
        height: 70px;
    }
}

@-o-keyframes Inner_Logo {
    0% {
        height: 5px;
    }
    100% {
        height: 70px;
    }
}

@keyframes Inner_Logo {
    0% {
        height: 5px;
    }
    100% {
        height: 70px;
    }
}

.main_page .loaded .logo_rectangle {
    position: relative;
    height: 180px;
    width: 180px;
}

.fadeout .logo_rectangle {
    position: relative;
    height: 180px;
    width: 180px;
}

.fadeout.inner_logo .logo_rectangle {
    position: relative;
    height: 70px;
    width: 5px;
}

.main_page .loaded .logo_rectangle:after {
    content: '';
    position: absolute;
    right: 100%;
    top: 0px;
    height: 0px;
    width: 0px;
    background-color: #EDED43;
    -webkit-animation: rectangle_show .5s forwards, rectangle_move_right .5s forwards .6s,rectangle_move_height .5s forwards 1.1s, rectangle_move_width .5s forwards 1.6s;
    -moz-animation: rectangle_show .5s forwards, rectangle_move_right .5s forwards .6s,rectangle_move_height .5s forwards 1.1s, rectangle_move_width .5s forwards 1.6s;
    -o-animation: rectangle_show .5s forwards, rectangle_move_right .5s forwards .6s,rectangle_move_height .5s forwards 1.1s, rectangle_move_width .5s forwards 1.6s;
    animation: rectangle_show .5s forwards, rectangle_move_right .5s forwards .6s,rectangle_move_height .5s forwards 1.1s, rectangle_move_width .5s forwards 1.6s;
    transition: all .5s;
    z-index: 99;
}

.fadeout .logo_rectangle:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0px;
    height: 180px;
    width: 180px;
    background-color: #EDED43;
    z-index: 99;
}

.fadeout.inner_logo .logo_rectangle:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0px;
    height: 70px;
    width: 5px;
    background-color: #EDED43;
    z-index: 99;
}

@-webkit-keyframes rectangle_show {
    0% {
        right: 100%;
    }
    100% {
        height: 10px;
        width: 10px;
    }
}

@-moz-keyframes rectangle_show {
    0% {
        right: 100%;
    }
    100% {
        height: 10px;
        width: 10px;
    }
}

@-o-keyframes rectangle_show {
    0% {
        right: 100%;
    }
    100% {
        height: 10px;
        width: 10px;
    }
}

@keyframes rectangle_show {
    0% {
        right: 100%;
    }
    100% {
        height: 5px;
        width: 5px;
    }
}

@-webkit-keyframes rectangle_move_right {
    0% {
        right: 100%;
    }
    100% {
        right: 0px;
    }
}

@-moz-keyframes rectangle_move_right {
    0% {
        right: 100%;
    }
    100% {
        right: 0px;
    }
}

@-o-keyframes rectangle_move_right {
    0% {
        right: 100%;
    }
    100% {
        right: 0px;
    }
}

@keyframes rectangle_move_right {
    0% {
        right: 100%;
    }
    100% {
        right: 0px;
    }
}

@-webkit-keyframes rectangle_move_height {
    0% {
        height: 5px;
    }
    100% {
        height: 180px;
    }
}

@-moz-keyframes rectangle_move_height {
    0% {
        height: 5px;
    }
    100% {
        height: 180px;
    }
}

@-o-keyframes rectangle_move_height {
    0% {
        height: 5px;
    }
    100% {
        height: 180px;
    }
}

@keyframes rectangle_move_height {
    0% {
        height: 5px;
    }
    100% {
        height: 180px;
    }
}

@keyframes rectangle_move_width {
    0% {
        width: 5px;
    }
    100% {
        width: 180px;
    }
}

.fadeout .logo_rectangle:after {
    animation: Hide_logo .2s forwards .2s;
}

@-webkit-keyframes Hide_logo {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-moz-keyframes Hide_logo {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-o-keyframes Hide_logo {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes Hide_logo {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.logo_img {
    height: 100px;
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
    opacity: 0;
}

.inner_logo .logo_img {
    height: 70px;
    -webkit-animation: logo .3s forwards .5s;
    -moz-animation: logo .3s forwards .5s;
    -o-animation: logo .3s forwards .5s;
    animation: logo .3s forwards .5s;
}

.main_page .loaded .logo_img {
    -webkit-animation: logo .5s forwards 1.9s;
    -moz-animation: logo .5s forwards 1.9s;
    -o-animation: logo .5s forwards 1.9s;
    animation: logo .5s forwards 1.9s;
}

.logo_img.show_again {
    -webkit-animation: logo .5s forwards 2.3s!important;
    -moz-animation: logo .5s forwards 2.3s!important;
    -o-animation: logo .5s forwards 2.3s!important;
    animation: logo .5s forwards 2.3s!important;
}

@-webkit-keyframes logo {
    0% {
        opacity: 0;
        -webkit-transform: translate(-100%, 0%);
        -moz-transform: translate(-100%, 0%);
        -o-transform: translate(-100%, 0%);
        transform: translate(-100%, 0%);
    }
    50% {
        opacity: .3;
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0%, 0%);
        -moz-transform: translate(0%, 0%);
        -o-transform: translate(0%, 0%);
        transform: translate(0%, 0%);
    }
}

@-moz-keyframes logo {
    0% {
        opacity: 0;
        -webkit-transform: translate(-100%, 0%);
        -moz-transform: translate(-100%, 0%);
        -o-transform: translate(-100%, 0%);
        transform: translate(-100%, 0%);
    }
    50% {
        opacity: .3;
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0%, 0%);
        -moz-transform: translate(0%, 0%);
        -o-transform: translate(0%, 0%);
        transform: translate(0%, 0%);
    }
}

@-o-keyframes logo {
    0% {
        opacity: 0;
        -webkit-transform: translate(-100%, 0%);
        -moz-transform: translate(-100%, 0%);
        -o-transform: translate(-100%, 0%);
        transform: translate(-100%, 0%);
    }
    50% {
        opacity: .3;
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0%, 0%);
        -moz-transform: translate(0%, 0%);
        -o-transform: translate(0%, 0%);
        transform: translate(0%, 0%);
    }
}

@keyframes logo {
    0% {
        opacity: 0;
        -webkit-transform: translate(-100%, 0%);
        -moz-transform: translate(-100%, 0%);
        -o-transform: translate(-100%, 0%);
        transform: translate(-100%, 0%);
    }
    50% {
        opacity: .3;
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0%, 0%);
        -moz-transform: translate(0%, 0%);
        -o-transform: translate(0%, 0%);
        transform: translate(0%, 0%);
    }
}

.fadeout .logo_img {
    animation: fadeout_logo .3s forwards;
}

@-webkit-keyframes fadeout_logo {
    0% {
        opacity: 1;
        -webkit-transform: translate(0%, 0%);
        -moz-transform: translate(0%, 0%);
        -o-transform: translate(0%, 0%);
        transform: translate(0%, 0%);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(-100%, 0%);
        -moz-transform: translate(-100%, 0%);
        -o-transform: translate(-100%, 0%);
        transform: translate(-100%, 0%);
    }
}

@-moz-keyframes fadeout_logo {
    0% {
        opacity: 1;
        -webkit-transform: translate(0%, 0%);
        -moz-transform: translate(0%, 0%);
        -o-transform: translate(0%, 0%);
        transform: translate(0%, 0%);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(-100%, 0%);
        -moz-transform: translate(-100%, 0%);
        -o-transform: translate(-100%, 0%);
        transform: translate(-100%, 0%);
    }
}

@-o-keyframes fadeout_logo {
    0% {
        opacity: 1;
        -webkit-transform: translate(0%, 0%);
        -moz-transform: translate(0%, 0%);
        -o-transform: translate(0%, 0%);
        transform: translate(0%, 0%);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(-100%, 0%);
        -moz-transform: translate(-100%, 0%);
        -o-transform: translate(-100%, 0%);
        transform: translate(-100%, 0%);
    }
}

@keyframes fadeout_logo {
    0% {
        opacity: 1;
        -webkit-transform: translate(0%, 0%);
        -moz-transform: translate(0%, 0%);
        -o-transform: translate(0%, 0%);
        transform: translate(0%, 0%);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(-100%, 0%);
        -moz-transform: translate(-100%, 0%);
        -o-transform: translate(-100%, 0%);
        transform: translate(-100%, 0%);
    }
}


/****************************
*							*
*      Menu Config 			*
*							*
****************************/

.menu {
    background: #f7f7f7;
    position: absolute;
    left: 0;
    top: 50%;
    height: 180px;
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: -webkit-transform .5s ease-out;
    -moz-transition: -moz-transform .5s ease-out;
    -ms-transition: -ms-transform .5s ease-out;
    -o-transition: -o-transform .5s ease-out;
    transition: transform .5s ease-out;
    opacity: 0;
}

#MenuButton,
#CloseMenu {
    display: none;
    opacity: 0;
    cursor: pointer;
}

@media(min-width:550px) {
    .loaded .menu {
        -webkit-animation: menu_width .5s forwards 2.1s;
        -moz-animation: menu_width .5s forwards 2.1s;
        -o-animation: menu_width .5s forwards 2.1s;
        animation: menu_width .5s forwards 2.1s;
    }
}

@-webkit-keyframes menu_width {
    0% {
        width: 0px;
    }
    100% {
        width: calc(100% - 395px);
        opacity: 1;
    }
}

@-moz-keyframes menu_width {
    0% {
        width: 0px;
    }
    100% {
        width: calc(100% - 395px);
        opacity: 1;
    }
}

@-o-keyframes menu_width {
    0% {
        width: 0px;
    }
    100% {
        width: calc(100% - 395px);
        opacity: 1;
    }
}

@keyframes menu_width {
    0% {
        width: 0px;
    }
    100% {
        width: calc(100% - 395px);
        opacity: 1;
    }
}

@media(min-width:550px) {
    .push_menu_left {
        -ms-transform: translate(-100%, -50%);
        -moz-transform: translate(-100%, -50%);
        -o-transform: translate(-100%, -50%);
        -webkit-transform: translate(-100%, -50%);
        transform: translate(-100%, -50%);
        -webkit-transition: -webkit-transform .3s ease-out;
        -moz-transition: -moz-transform .3s ease-out;
        -ms-transition: -ms-transform .3s ease-out;
        -o-transition: -o-transform .3s ease-out;
        transition: transform .3s ease-out;
    }
}

.push_menu_right {
    width: 180px;
    max-width: 180px;
    background-color: transparent;
    -ms-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    -webkit-transition: -webkit-transform .3s ease-out;
    -moz-transition: -moz-transform .3s ease-out;
    -ms-transition: -ms-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
}

.hide_animation {
    -webkit-animation: Hide .3s forwards!important;
    -moz-animation: Hide .3s forwards!important;
    -o-animation: Hide .3s forwards!important;
    animation: Hide .3s forwards!important;
}

@-webkit-keyframes Hide {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-moz-keyframes Hide {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-o-keyframes Hide {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes Hide {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.menu ul {
    margin: 25px 25px;
    float: right;
    padding-left: 0px;
}

.menu ul li {
    list-style: none;
    display: block;
    margin-bottom: 10px;
}

.menu ul li:first-child {
    display: none;
}

.menu ul li:last-child {
    margin-bottom: 0px;
}

.menu ul li a {
    color: #666;
    font-size: 15px;
    text-decoration: none;
    margin-bottom: 0px;
    display: block;
    text-align: right;
    font-weight: 700;
    -webkit-transition: color .3s ease-out;
    -moz-transition: color .3s ease-out;
    -ms-transition: color .3s ease-out;
    -o-transition: color .3s ease-out;
    transition: color .3s ease-out;
    cursor: pointer;
}

.menu ul li a:hover {
    color: #000;
    -webkit-transition: color .3s ease-out;
    -moz-transition: color .3s ease-out;
    -ms-transition: color .3s ease-out;
    -o-transition: color .3s ease-out;
    transition: color .3s ease-out;
}


/****************************
*							*
*  Inner Page Menu  Config  *
*							*
****************************/

.inner_page .menu ul li a,
.menu ul li .inner_menu {
    display: none;
}

.inner_page .menu ul li .inner_menu {
    display: block;
}

.inner_page .menu ul {
    float: none;
    margin: 0 0 0 35px;
}

.inner_page .menu ul li:first-child {
    display: block;
}

.inner_page .menu ul li {
    margin-bottom: 5px;
    cursor: pointer;
    opacity: 0;
}

.inner_page .menu ul li:nth-child(1) {
    -webkit-animation: Show_Bullet .15s forwards .9s;
    -moz-animation: Show_Bullet .15s forwards .9s;
    -o-animation: Show_Bullet .15s forwards .9s;
    animation: Show_Bullet .15s forwards .9s;
}

.inner_page .menu ul li:nth-child(2) {
    -webkit-animation: Show_Bullet .15s forwards 1.1s;
    -moz-animation: Show_Bullet .15s forwards 1.1s;
    -o-animation: Show_Bullet .15s forwards 1.1s;
    animation: Show_Bullet .15s forwards 1.1s;
}

.inner_page .menu ul li:nth-child(3) {
    -webkit-animation: Show_Bullet .15s forwards 1.2s;
    -moz-animation: Show_Bullet .15s forwards 1.2s;
    -o-animation: Show_Bullet .15s forwards 1.2s;
    animation: Show_Bullet .15s forwards 1.2s;
}

.inner_page .menu ul li:nth-child(4) {
    -webkit-animation: Show_Bullet .15s forwards 1.3s;
    -moz-animation: Show_Bullet .15s forwards 1.3s;
    -o-animation: Show_Bullet .15s forwards 1.3s;
    animation: Show_Bullet .15s forwards 1.3s;
}

.inner_page .menu ul li:nth-child(5) {
    -webkit-animation: Show_Bullet .15s forwards 1.4s;
    -moz-animation: Show_Bullet .15s forwards 1.4s;
    -o-animation: Show_Bullet .15s forwards 1.4s;
    animation: Show_Bullet .15s forwards 1.4s;
}

@-webkit-keyframes Show_Bullet {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes Show_Bullet {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes Show_Bullet {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes Show_Bullet {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.inner_page .menu ul li:last-child {
    margin-bottom: 0px;
}

.menu ul li .inner_menu {
    border-radius: 8px;
    padding: 3px 6px;
    text-align: right;
    background-color: transparent;
    max-width: 95px;
    min-height: 18px;
    max-height: 18px;
    position: relative;
    line-height: 1.2;
}

.menu ul li:hover .inner_menu,
.menu ul li.active .inner_menu {
    background-color: #444;
    -webkit-animation: Inner_Menu .2s forwards;
    -moz-animation: Inner_Menu .2s forwards;
    -o-animation: Inner_Menu .2s forwards;
    animation: Inner_Menu .2s forwards;
}

@-webkit-keyframes Inner_Menu {
    0% {
        opacity: 0;
        width: 0px;
    }
    100% {
        opacity: 1;
        width: 95px;
    }
}

@-moz-keyframes Inner_Menu {
    0% {
        opacity: 0;
        width: 0px;
    }
    100% {
        opacity: 1;
        width: 95px;
    }
}

@-o-keyframes Inner_Menu {
    0% {
        opacity: 0;
        width: 0px;
    }
    100% {
        opacity: 1;
        width: 95px;
    }
}

@keyframes Inner_Menu {
    0% {
        opacity: 0;
        width: 0px;
    }
    100% {
        opacity: 1;
        width: 95px;
    }
}

.menu ul li .circle {
    position: absolute;
    width: 10px;
    height: 10px;
    left: 5px;
    top: 5px;
    border: 2px solid #444;
    border-radius: 100%;
}

.menu ul li:hover .circle,
.menu ul li.active .circle {
    border: 2px solid #fff;
}

.menu ul li .circle:after {
    content: '';
    position: absolute;
    left: 2px;
    top: 2px;
    width: 6px;
    height: 6px;
    background: transparent;
    border-radius: 100%;
}

.menu ul li:hover .circle:after,
.menu ul li.active .circle:after {
    background: #EDED43
}

.menu ul li .menu_title {
    margin-right: 5px;
    font-size: 13px;
    display: inline-block;
    color: transparent;
    visibility: hidden;
}

.menu ul li:hover .inner_menu .menu_title,
.menu ul li.active .inner_menu .menu_title {
    -webkit-animation: Show_Title .3s forwards .3s;
    -moz-animation: Show_Title .3s forwards .3s;
    -o-animation: Show_Title .3s forwards .3s;
    animation: Show_Title .3s forwards .3s;
}

@-webkit-keyframes Show_Title {
    0% {
        visibility: hidden;
        color: transparent;
    }
    100% {
        visibility: visible;
        color: #fff;
    }
}

@-moz-keyframes Show_Title {
    0% {
        visibility: hidden;
        color: transparent;
    }
    100% {
        visibility: visible;
        color: #fff;
    }
}

@-o-keyframes Show_Title {
    0% {
        visibility: hidden;
        color: transparent;
    }
    100% {
        visibility: visible;
        color: #fff;
    }
}

@keyframes Show_Title {
    0% {
        visibility: hidden;
        color: transparent;
    }
    100% {
        visibility: visible;
        color: #fff;
    }
}


/****************************
*							*
*    Social Link Config     *
*							*
****************************/

.social {
    position: absolute;
    bottom: 25px;
    right: 30px;
}
.social ul {
    display: block;
    padding-left: 0px;
    line-height: 1;
    margin: 0;
}

.social ul li {
    display: inline-block;
    margin-left: 10px;
    height: 20px;
    width: 20px;
    background-color: #ddd;
    opacity: 0;
}

.social ul li:nth-child(1) {
    -webkit-animation: Show_Social .5s forwards 1.9s;
    -moz-animation: Show_Social .5s forwards 1.9s;
    -o-animation: Show_Social .5s forwards 1.9s;
    animation: Show_Social .5s forwards 1.9s;
    margin-left: 0;
}

.social ul li:nth-child(2) {
    -webkit-animation: Show_Social .5s forwards 2.1s;
    -moz-animation: Show_Social .5s forwards 2.1s;
    -o-animation: Show_Social .5s forwards 2.1s;
    animation: Show_Social .5s forwards 2.1s;
}

.social ul li:nth-child(3) {
    -webkit-animation: Show_Social .5s forwards 2.3s;
    -moz-animation: Show_Social .5s forwards 2.3s;
    -o-animation: Show_Social .5s forwards 2.3s;
    animation: Show_Social .5s forwards 2.3s;
}

.social ul li:nth-child(4) {
    -webkit-animation: Show_Social .5s forwards 2.5s;
    -moz-animation: Show_Social .5s forwards 2.5s;
    -o-animation: Show_Social .5s forwards 2.5s;
    animation: Show_Social .5s forwards 2.5s;
}

@-webkit-keyframes Show_Social {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes Show_Social {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes Show_Social {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes Show_Social {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.social ul li a {
    display: block;
    text-align: center;
    height: 20px;
    cursor: pointer;
}

.social ul li a.dribble:hover,
.social ul li a.dribble.active {
    background-color: #EA4C89;
}

.social ul li a.instagram:hover {
    background-color: #333;
}

.social ul li a.linkedin:hover {
    background-color: #0077B5
}

.social ul li a.twitter:hover {
    background-color: #1DA1F2;
}

.social ul li a svg {
    width: 10px;
    height: 10px;
    margin-top: 5px;
}


/****************************
*							*
*    Social Link Config     *
*							*
****************************/

.copyright {
    position: absolute;
    bottom: 25px;
    left: 30px;
    display: none;
}

.show_copyright .copyright{
    display: block;
}

.copyright p {
    color: #999;
    direction: rtl;
    font-size: 11px;
    margin-bottom: 0;
    opacity: 0;
}

.loaded .copyright p {
    opacity: 1;
    -webkit-transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -ms-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
    transition: opacity .5s ease-out;
    -webkit-transition-delay: 2.5s;
    -moz-transition-delay: 2.5s;
    -o-transition-delay: 2.5s;
    transition-delay: 2.5s;
}


/****************************
*							*
*      Content Config 	    *
*							*
****************************/

.content {
    opacity: 0;
    visibility: hidden;
    padding: 100px 0;
}

.inner_content {
    overflow-x: hidden;
    overflow-y: scroll;
    height: auto;
}

.inner_content .line_bottom,
.inner_content .line_top {
    z-index: 9999;
}

.inner_content .logo {
    position: fixed;
    left: 75px;
    top: 75px;
}

.inner_content .menu {
    position: fixed;
    left: 35px;
}

.inner_content .social {
    position: fixed;
    bottom: 45px;
    right: 65px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.inner_content .copyright {
    position: fixed;
    bottom: 45px;
    left: 65px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: none;
}

.content.data_loaded {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity .25s ease-out;
    -moz-transition: opacity .25s ease-out;
    -ms-transition: opacity .25s ease-out;
    -o-transition: opacity .25s ease-out;
    transition: opacity .25s ease-out;
}


/****************************
*							*
*      Project Config 	    *
*							*
****************************/

.inner_project {
    margin-left: 14%;
    margin-right: 14%;
    position: relative;
    float: right;
}

.inner_project:after {
    content: '';
    position: fixed;
    bottom: 30px;
    left: 80px;
    right: 80px;
    height: 50px;
    background: rgba(255, 255, 255, 0);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 1)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0);
}

.inner_project_header {
    text-align: right;
    position: relative;
    padding-right: 20px;
}

.inner_project_header:before {
    content: '';
    position: absolute;
    right: 0;
    width: 5px;
    height: 100%;
    top: 0;
    bottom: 0;
    background: #EDED43;
}

.inner_project_header h2 {
    font-size: 26px;
    color: #666666;
    font-family: "IRANSANS BOLD";
    margin: 0;
    margin-bottom: 10px;
    line-height: 1;
}

.inner_project_header h3 {
    font-size: 21px;
    color: #999999;
    margin: 0;
}

.inner_project_content p {
    font-size: 14px;
    color: #999999;
    text-align: justify;
    direction: rtl;
}

.inner_project .project_cover {
    position: relative;
    cursor: pointer;
}

.inner_project .project_cover a {
    display: block;
    position: relative;
}

.inner_project .project_cover a:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 25px;
    height: 25px;
    opacity: 0;
    background-image: url(../images/search.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: opacity .2s ease-out;
    -moz-transition: opacity .2s ease-out;
    -ms-transition: opacity .2s ease-out;
    -o-transition: opacity .2s ease-out;
    transition: opacity .2s ease-out;
}

.inner_project .project_cover a:hover:after {
    opacity: 1;
    -webkit-transition: opacity .2s ease-out;
    -moz-transition: opacity .2s ease-out;
    -ms-transition: opacity .2s ease-out;
    -o-transition: opacity .2s ease-out;
    transition: opacity .2s ease-out;
    -webkit-transition-delay: .25s;
    -moz-transition-delay: .25s;
    -o-transition-delay: .25s;
    transition-delay: .25s;
}

.inner_project .project_cover a:before {
    content: '';
    position: absolute;
    left: 15px;
    right: 15px;
    top: 15px;
    bottom: 15px;
    -ms-transform: scale(0, 0);
    -moz-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: transform .2s ease-out;
    -moz-transition: transform .2s ease-out;
    -ms-transition: transform .2s ease-out;
    -o-transition: transform .2s ease-out;
    transition: transform .2s ease-out;
    background-color: rgba(255, 255, 51, 0.55);
}

.inner_project .project_cover a:hover:before {
    content: '';
    position: absolute;
    left: 15px;
    right: 15px;
    top: 15px;
    bottom: 15px;
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transition: transform .2s ease-out;
    -moz-transition: transform .2s ease-out;
    -ms-transition: transform .2s ease-out;
    -o-transition: transform .2s ease-out;
    transition: transform .2s ease-out;
    background-color: rgba(255, 255, 51, 0.55);
}

.inner_project .project_cover img {
    max-height: 400px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.project_gallery {
    margin: 10px auto;
}

.project_gallery:after {
    content: '';
    display: block;
    clear: both;
}

.grid-item {
    float: left;
    margin-bottom: 10px;
}

.grid-sizer,
.grid-item {
    width: 32.2222%;
    cursor: pointer;
}

.grid-item img {
    display: block;
    width: 100%;
}

.grid-item:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 25px;
    height: 25px;
    opacity: 0;
    background-image: url(../images/search.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: opacity .2s ease-out;
    -moz-transition: opacity .2s ease-out;
    -ms-transition: opacity .2s ease-out;
    -o-transition: opacity .2s ease-out;
    transition: opacity .2s ease-out;
}

.grid-item:hover:after {
    opacity: 1;
    -webkit-transition: opacity .2s ease-out;
    -moz-transition: opacity .2s ease-out;
    -ms-transition: opacity .2s ease-out;
    -o-transition: opacity .2s ease-out;
    transition: opacity .2s ease-out;
    -webkit-transition-delay: .25s;
    -moz-transition-delay: .25s;
    -o-transition-delay: .25s;
    transition-delay: .25s;
}

.grid-item:before {
    content: '';
    position: absolute;
    left: 15px;
    right: 15px;
    top: 15px;
    bottom: 15px;
    -ms-transform: scale(0, 0);
    -moz-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: transform .2s ease-out;
    -moz-transition: transform .2s ease-out;
    -ms-transition: transform .2s ease-out;
    -o-transition: transform .2s ease-out;
    transition: transform .2s ease-out;
    background-color: rgba(255, 255, 51, 0.55);
}

.grid-item:hover:before {
    content: '';
    position: absolute;
    left: 15px;
    right: 15px;
    top: 15px;
    bottom: 15px;
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transition: transform .2s ease-out;
    -moz-transition: transform .2s ease-out;
    -ms-transition: transform .2s ease-out;
    -o-transition: transform .2s ease-out;
    transition: transform .2s ease-out;
    background-color: rgba(255, 255, 51, 0.55);
}


/****************************
*							*
*       About Config 	    *
*							*
****************************/

.inner_about {
    margin-left: 14%;
    margin-right: 14%;
    position: relative;
    padding-bottom: 50px;
}

.about_full_col {
    width: 86%;
}

.inner_about:after {
    content: '';
    position: fixed;
    bottom: 30px;
    left: 80px;
    right: 80px;
    height: 50px;
    background: rgba(255, 255, 255, 0);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 1)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0);
}

.inner_about_header {
    max-height: 400px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.about_title {
    font-size: 24px;
    color: #888;
    font-family: "IRANSANS BOLD";
    margin: 40px auto;
    line-height: 1;
    text-align: right;
    position: relative;
    padding-right: 20px;
}

.about_title:before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 4px;
    background-color: #EDED43;
}

.about_desc {
    font-size: 14px;
    color: #999999;
    text-align: justify;
    direction: rtl;
    margin-bottom: 40px;
}

.about_item img {
    max-height: 400px;
    width: 100%;
    object-fit: cover;
    object-position: top center;
}

.about_item .person_name {
    color: #777;
    font-size: 1.2em;
    text-align: center;
}

.about_item .person_position {
    color: #999;
    font-size: 16px;
    text-align: center;
}

.about_bottom {
    float: right;
    width: 100%;
    margin-bottom: 80px;
}


/****************************
*							*
*       Project Config 	    *
*							*
****************************/

.project_page {
    margin-left: 17%;
    margin-right: 14%;
    position: relative;
    padding-bottom: 50px;
}

.project_page:after {
    content: '';
    position: fixed;
    bottom: 33px;
    left: 80px;
    right: 80px;
    height: 50px;
    background: rgba(255, 255, 255, 0);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 1)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0);
}

.project_list {
    -webkit-transform: translate(0%, 0%);
    -moz-transform: translate(0%, 0%);
    -o-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
}

.project_list.lefttoright {
    -webkit-animation: LeftToRightTransition 1.5s forwards;
    -moz-animation: LeftToRightTransition 1.5s forwards;
    -o-animation: LeftToRightTransition 1.5s forwards;
    animation: LeftToRightTransition 1.5s forwards;
}

@-o-keyframes LeftToRightTransition {
    0% {
        -webkit-transform: translate(0%, 0%);
        -moz-transform: translate(0%, 0%);
        -o-transform: translate(0%, 0%);
        transform: translate(0%, 0%);
    }
    50% {
        opacity: 0;
        -webkit-transform: translate(-100%, 0%);
        -moz-transform: translate(-100%, 0%);
        -o-transform: translate(-100%, 0%);
        transform: translate(-100%, 0%);
    }
    75% {
        opacity: 0;
        -webkit-transform: translate(100%, 0%);
        -moz-transform: translate(100%, 0%);
        -o-transform: translate(100%, 0%);
        transform: translate(100%, 0%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0%, 0%);
        -moz-transform: translate(0%, 0%);
        -o-transform: translate(0%, 0%);
        transform: translate(0%, 0%);
    }
}

@-moz-keyframes LeftToRightTransition {
    0% {
        -webkit-transform: translate(0%, 0%);
        -moz-transform: translate(0%, 0%);
        -o-transform: translate(0%, 0%);
        transform: translate(0%, 0%);
    }
    50% {
        opacity: 0;
        -webkit-transform: translate(-100%, 0%);
        -moz-transform: translate(-100%, 0%);
        -o-transform: translate(-100%, 0%);
        transform: translate(-100%, 0%);
    }
    75% {
        opacity: 0;
        -webkit-transform: translate(100%, 0%);
        -moz-transform: translate(100%, 0%);
        -o-transform: translate(100%, 0%);
        transform: translate(100%, 0%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0%, 0%);
        -moz-transform: translate(0%, 0%);
        -o-transform: translate(0%, 0%);
        transform: translate(0%, 0%);
    }
}

@-webkit-keyframes LeftToRightTransition {
    0% {
        -webkit-transform: translate(0%, 0%);
        -moz-transform: translate(0%, 0%);
        -o-transform: translate(0%, 0%);
        transform: translate(0%, 0%);
    }
    50% {
        opacity: 0;
        -webkit-transform: translate(-100%, 0%);
        -moz-transform: translate(-100%, 0%);
        -o-transform: translate(-100%, 0%);
        transform: translate(-100%, 0%);
    }
    75% {
        opacity: 0;
        -webkit-transform: translate(100%, 0%);
        -moz-transform: translate(100%, 0%);
        -o-transform: translate(100%, 0%);
        transform: translate(100%, 0%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0%, 0%);
        -moz-transform: translate(0%, 0%);
        -o-transform: translate(0%, 0%);
        transform: translate(0%, 0%);
    }
}

@keyframes LeftToRightTransition {
    0% {
        -webkit-transform: translate(0%, 0%);
        -moz-transform: translate(0%, 0%);
        -o-transform: translate(0%, 0%);
        transform: translate(0%, 0%);
    }
    50% {
        opacity: 0;
        -webkit-transform: translate(-100%, 0%);
        -moz-transform: translate(-100%, 0%);
        -o-transform: translate(-100%, 0%);
        transform: translate(-100%, 0%);
    }
    75% {
        opacity: 0;
        -webkit-transform: translate(100%, 0%);
        -moz-transform: translate(100%, 0%);
        -o-transform: translate(100%, 0%);
        transform: translate(100%, 0%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0%, 0%);
        -moz-transform: translate(0%, 0%);
        -o-transform: translate(0%, 0%);
        transform: translate(0%, 0%);
    }
}

.project_list.righttoleft {
    -webkit-animation: RightToLeftTransition 1.5s forwards;
    -moz-animation: RightToLeftTransition 1.5s forwards;
    -o-animation: RightToLeftTransition 1.5s forwards;
    animation: RightToLeftTransition 1.5s forwards;
}

@keyframes RightToLeftTransition {
    0% {
        -webkit-transform: translate(0%, 0%);
        -moz-transform: translate(0%, 0%);
        -o-transform: translate(0%, 0%);
        transform: translate(0%, 0%);
    }
    50% {
        opacity: 0;
        -webkit-transform: translate(100%, 0%);
        -moz-transform: translate(100%, 0%);
        -o-transform: translate(100%, 0%);
        transform: translate(100%, 0%);
    }
    75% {
        opacity: 0;
        -webkit-transform: translate(-100%, 0%);
        -moz-transform: translate(-100%, 0%);
        -o-transform: translate(-100%, 0%);
        transform: translate(-100%, 0%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0%, 0%);
        -moz-transform: translate(0%, 0%);
        -o-transform: translate(0%, 0%);
        transform: translate(0%, 0%);
    }
}

.blog_control {
    position: absolute;
    right: 13%!important;
    bottom: 50px!important;
    z-index: 999;
}

.control .right,
.control .left {
    padding: 5px 10px;
    text-align: center;
    background-color: #eee;
    display: inline-block;
}

.control .right:hover,
.control .left:hover {
    background-color: #ddd;
}

.control .right.disabled,
.control .left.disabled {
    opacity: .4;
    cursor: not-allowed;
}

.control .right.disabled svg,
.control .left.disabled svg {
    cursor: not-allowed!important;
}

.control .right {
    margin-left: 5px;
}

#RightArrow,
#LeftArrow {
    height: 15px;
    width: 15px;
    vertical-align: middle;
    cursor: pointer;
}

#RightArrow path,
#LeftArrow path {
    fill: #666;
}

.page_number {
    font-size: 13px;
    color: #555;
}

.project_list [class*=' col-'] {
    margin-bottom: 25px;
    display: inline-block;
    float: none;
    width: 29%;
}

.project_list [class*=' col-'] a {
    display: block;
}

.project_list figure {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.project_list figure img {
    display: block;
    max-width: 100%;
    height: auto;
    width: 100%;
    object-fit: cover;
    object-position: center;
    max-height: 260px;
    min-height: 260px;
}

.project_list .caption {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 30px 0;
    background-color: rgba(0, 0, 0, 0.7);
    -o-ms-transform: translate(0%, 100%);
    -ms-transform: translate(0%, 100%);
    -webkit-transform: translate(0%, 100%);
    transform: translate(0%, 100%);
    -webkit-transition: transform .25s ease-out;
    -moz-transition: transform .25s ease-out;
    -ms-transition: transform .25s ease-out;
    -o-transition: transform .25s ease-out;
    transition: transform .25s ease-out;
}

.project_list figure:hover .caption {
    -o-ms-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
    -webkit-transition: transform .25s ease-out;
    -moz-transition: transform .25s ease-out;
    -ms-transition: transform .25s ease-out;
    -o-transition: transform .25s ease-out;
    transition: transform .25s ease-out;
}

.project_list .caption h2 {
    font-size: 15px;
    color: #EDED43;
    text-align: center;
    margin: 0;
    margin-bottom: 15px;
}

.project_list .caption h4 {
    font-size: 13px;
    color: #fff;
    text-align: center;
    margin: 0;
}


/****************************
*							*
*       Blog Config 	    *
*							*
****************************/

.inner_blog {
    margin-left: 17%;
    margin-right: 14%;
    position: relative;
    padding-bottom: 50px;
}

.inner_blog:after {
    content: '';
    position: fixed;
    bottom: 33px;
    left: 80px;
    right: 80px;
    height: 50px;
    background: rgba(255, 255, 255, 0);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 1)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0);
}

.project_control {
    position: absolute;
    right: 9%;
    bottom: 65px;
    z-index: 999;
}

.control .up,
.control .down {
    padding: 5px 10px;
    text-align: center;
    background-color: #eee;
    display: block;
}

.control .up:hover,
.control .down:hover {
    background-color: #ddd;
}

.control .up {
    margin-bottom: 10px;
}

#UpArrow,
#DownArrow {
    height: 15px;
    width: 15px;
    vertical-align: middle;
    cursor: pointer;
}

#UpArrow path,
#DownArrow path {
    fill: #666;
}

.blog_list {
    list-style: none;
    display: block;
    float: right;
    padding-left: 0px;
}

.blog_list li {
    float: right;
    display: block;
    padding-bottom: 20px;
}

.blog_list li:last-child {
    padding-bottom: 0;
}

.blog_list figure {
    margin: 0 auto;
}

.blog_list figure img {
    display: block;
    max-width: 100%;
    height: auto;
    width: 100%;
    object-fit: cover;
    object-position: center;
    max-height: 200px;
    min-height: 200px;
}

.blog_list .title_holder {
    position: relative;
    padding-right: 15px;
}

.blog_list .title_holder:before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 4px;
    background-color: #EDED43;
}

.blog_list h2,
.blog_list h4,
.blog_list p {
    text-align: right;
    direction: rtl;
}

.blog_list h2 {
    color: #555;
    margin-top: 0;
    font-size: 16px;
}

.blog_list h4 {
    color: #999;
    margin-top: 0;
    font-size: 13px;
}

.blog_list p {
    color: #888;
    line-height: normal;
    font-size: 12px;
    text-align: justify;
}